.u-section-1 {background-image: none; min-height: 982px}
.u-section-1 .u-custom-html-1 {min-height: 603px; height: auto; margin-top: 0; margin-bottom: 60px; margin-left: 0} 

@media (max-width: 1199px){ .u-section-1 .u-custom-html-1 {margin-left: initial} }